---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      <div class="publications">
        <ol class="bibliography">
          <li>
            <div class="title">FlowMAC: Conditional Flow Matching for Audio Coding at Low Bit Rates</div>
            <div class="author">Nicola Pia, <em>Martin Strauss</em>, Markus Multrus, and Bernd Edler</div>
            <div class="periodical"><em>ICASSP 2025 - 2025 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)</em>, 2025</div>
            <div class="links">
              <a href="https://doi.org/10.1109/ICASSP49660.2025.10888898" class="btn btn-sm z-depth-0" role="button">DOI</a>
            </div>
          </li>
          <li>
            <div class="title">Inference-Adaptive Steering of Neural Networks for Real-Time Area-Based Sound Source Separation</div>
            <div class="author"><em>Martin Strauss</em>, Wolfgang Mack, María Luis Valero, and Okan Köpüklü</div>
            <div class="periodical"><em>IEEE Signal Processing Letters</em>, Vol. 32, 2025</div>
            <div class="links">
              <a href="https://doi.org/10.1109/LSP.2025.3543454" class="btn btn-sm z-depth-0" role="button">DOI</a>
            </div>
          </li>
          <li>
            <div class="title">SEFGAN: Harvesting the Power of Normalizing Flows and GANs for Efficient High-Quality Speech Enhancement</div>
            <div class="author"><em>Martin Strauss</em>, Nicola Pia, Nagashree K. S. Rao, and Bernd Edler</div>
            <div class="periodical"><em>2023 IEEE Workshop on Applications of Signal Processing to Audio and Acoustics (WASPAA)</em>, 2023</div>
            <div class="links">
              <a href="https://doi.org/10.1109/WASPAA58266.2023.10248144" class="btn btn-sm z-depth-0" role="button">DOI</a>
            </div>
          </li>
          <li>
            <div class="title">DREGON: Dataset and Methods for UAV-Embedded Sound Source Localization</div>
            <div class="author"><em>Martin Strauss</em>, Pol Mordel, Victor Miguet, and Antoine Deleforge</div>
            <div class="periodical"><em>2018 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</em>, 2018</div>
            <div class="links">
              <a href="https://doi.org/10.1109/IROS.2018.8593581" class="btn btn-sm z-depth-0" role="button">DOI</a>
            </div>
          </li>
        </ol>
      </div>
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
